
@import 'tailwindcss';
@import '../../vendor/livewire/flux/dist/flux.css';

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../vendor/livewire/flux-pro/stubs/**/*.blade.php';
@source '../../vendor/livewire/flux/stubs/**/*.blade.php';

@custom-variant dark (&:where(.dark, .dark *));

/* Re-assign Flux's gray of choice... */
@theme {
    --color-zinc-50: var(--color-neutral-50);
    --color-zinc-100: var(--color-neutral-100);
    --color-zinc-200: var(--color-neutral-200);
    --color-zinc-300: var(--color-neutral-300);
    --color-zinc-400: var(--color-neutral-400);
    --color-zinc-500: var(--color-neutral-500);
    --color-zinc-600: var(--color-neutral-600);
    --color-zinc-700: var(--color-neutral-700);
    --color-zinc-800: var(--color-neutral-800);
    --color-zinc-900: var(--color-neutral-900);
    --color-zinc-950: var(--color-neutral-950);
}

@theme {
    --color-accent: var(--color-emerald-600);
    --color-accent-content: var(--color-emerald-600);
    --color-accent-foreground: var(--color-white);
}

@layer theme {
    .dark {
        --color-accent: var(--color-emerald-600);
        --color-accent-content: var(--color-emerald-400);
        --color-accent-foreground: var(--color-white);
    }
}

[data-flux-field]:not(ui-radio) {
    @apply grid gap-2;
}

[data-flux-label] {
    @apply  !mb-0 !leading-tight;
}

input:focus[data-flux-control],
textarea:focus[data-flux-control],
select:focus[data-flux-control] {
    @apply outline-hidden ring-2 ring-accent ring-offset-2 ring-offset-accent-foreground;
}

/* \[:where(&)\]:size-4 {
    @apply size-4;
} */
/* Colores del dropzone */
/* Light Theme */
.light .filepond--root {
    background-color: #009966;
    color: #fff !important;
    border-color: #4e5763;
    border-radius: 25px;
}

.light .filepond--drop-label {
    color: #334155;
}

.light .filepond--panel-root {
    background-color: transparent !important;
}

.light .filepond--file {
    background-color: #34d399 !important;
}

.light .filepond--file-info {
    color: #1e293b;
}

.light .filepond--file-status {
    color: #475569;
}

.light .filepond--credits {
    display: none; /* oculta el "Powered by FilePond" */
}


/* Dark Theme */
.dark .filepond--root {
    background-color: #232323;
    color: #f1f5f9;
    border-color: #3a424d;
    border-radius: 25px;
}

.dark .filepond--drop-label {
    color: #f1f5f9;
}

.dark .filepond--panel-root {
    background-color: transparent !important;
}

.dark .filepond--file {
    background-color: #3a424d !important;
}

.dark .filepond--file-info {
    color: #e2e8f0;
}

.dark .filepond--file-status {
    color: #e2e8f0;
}
